[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
auto = {editable = true, path = "."}

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
pytest = "*"
coverage = "*"
mypy = "*"
sphinx = "*"
pre-commit = "*"
tox = "*"
bandit = "*"

[requires]
python_version = "3.11"
